{% extends 'layout.html' %}

{% block content %}
<div>
    <table>
        {% if account %}
        <h1>Public lists:</h1>
        <ul>
        {% for list in account %}
            <tr>
          <li>
              <a style="border: 4mm ridge rgba(211, 220, 50, .6);" href="{{ url_for('otheruserwords', id=list['id_list']) }}" class="btn btn-light ">{{ list['name_list'] }}</a>
              <p></p>
              <a>User: {{ list['user_login'] }}</a>
              <p></p>
              <a>Rating: {{ lists_rating[loop.index0][0] }}</a>
              <p></p>
              <a>{{ lists_rating[loop.index0][1] }} liked</a>
              <p></p>

               {% if isuser_list[loop.index0] %}
               <a style="vertical-align:center;margin: -0px 0px">IT IS YOUR LIST</a><p></p
                  {% else %}
              <button type="button" onclick="window.location.href='{{ url_for('addlist', id=list['id_list']) }}';
              this.disabled=true;  " name='makepubliclist' class="btn btn-primary"  >ADD LIST</button><p></p
                  {% endif %}
          </li>
            </tr>
        {% endfor %}
        </ul>
        {% else %}
         <h1>No lists :(</h1>
      {% endif %}
    </table>
</div>

{% endblock %}