{% extends 'layout.html' %}


{% block content %}
<div style="text-align:center">
<h2>Repetition ({{remain}})</h2>
<h5 >The forgotten word:</h5>
    <table>
        <ul>
            <tr>
                <button type="button" onclick="window.location.href='{{ url_for('repetitionwords') }}';
              this.disabled=true; " class="btn btn-primary"  >Remembered</button>
                <p></p>
                    <p>    <a >Stage: {{word[0]}}</a></p>
          <p>  <a >Word: {{word[3]}}</a></p>
           <p>   <a>Word translation: {{word[4]}}</a></p>
            {% for ex in word_ex %}
            <li>
                 <a style="vertical-align:center;margin: 0px 0px">Use case: {{ex[0]}}</a>
                <p></p>
             <a style="vertical-align:center;margin: 0px 0px">Translation: {{ex[1]}}</a>
                </li>
            {% endfor %}
            </ul>



    </table>
</div>

{% endblock %}