{% extends 'layout.html' %}


{% block content %}
<div>
    <h2>Results</h2>
    <div >
        <table>
            <ul>
            {% for word in words %}
            <li>
                  <a style="vertical-align:center;margin: -0px 0px">{{word}}</a>
            <p>    <a style="vertical-align:center;margin: 0px 10px">Stage {{word_stages[loop.index0]}}</a></p>
                </li>
            {% endfor %}
                <p><form method="post"> </p>
        <p><a href="{{ url_for('word_learning')}}" class="btn btn-dark" >Ok</a></p>
                    </form>
                </ul>
        </table>
    </div>
</div>

{% endblock %}