{% extends 'create_word_and_examples.html' %}

{% block content %}

<div class="container">
  <h1>New word</h1>
  <form method="post">
     <input type='text' name="word_id" id="word_id" class="form-control" placeholder="worghghgd_id"><br>
      <input type='text' name="word_name" id="word_name" class="form-control" placeholder="word_name"><br>
      <input type='text' name="word_translation" id="word_translation" class="form-control" placeholder="word_translation"><br>


  </form>
</div>

{% endblock %}